@import 'compass/reset';
@import 'compass';
@import 'breakpoint';
@import 'susy';

$susy: (
  columns: 12,
  gutters: .25,
);

$black: #000;
$white: #fff;
$grey: #333;

$max-width: 1300px;
$ratio-change: 1076px;
$double-column: 726px;

$font-family: 'Myriad Web Pro';
$site-heading-size: 30px;
$h1-size: 20px;
$nav-size: 10px;
$line-height: 1.4em;

//Second--------------------------------
$button-txt-size: 1.8vw;
$tab-active-color: #666;
