@import 'base';

//For dealing with borders when setting grids (must be global)
@include border-box-sizing;

body {
  background-color: $grey;
}

p {
  font-family: $font-family;
  line-height: $line-height;
}

h1 {
  font-family: $font-family;
  font-size: $h1-size;
}

.image {
  width: 100%;
}

.container {
  @include container(100%);
  background-color: $white;
}

@include breakpoint($max-width) {
  .container {
    width: $max-width;
  }
}

.header {
  @include span(12);
  background-color: $black;
  height: 50px;
  margin-bottom: 10px;

  h1 {
    color: $white;
    float: left;
    font-family: $font-family;
    font-size: $site-heading-size;
    margin-left: 15px;
    margin-top: 9px;
  }

  nav {
    float: right;
    margin-right: 5px;
    margin-top: 16px;
  }

  .nav-ul {
    list-style-type: none;
  }

  .nav-li {
    float: left;

    a {
      color: $white;
      font-family: $font-family;
      padding: 10px;
      text-decoration: none;
    }
  }
}

//Index------------------------------------------------
.main {
  @include span(8 split);
  .col1,
  .col2,
  .col3 {
    word-wrap: break-word;
  }

  .col1 {
    @include span(1 at 1 of 3 1/24);
  }

  .col2 {
    @include span(1 at 2 of 3 1/24);
  }

  .col3 {
    @include span(1 at 3 of 3 1/24);
  }
}

.sidebar {
  @include span(4 at 8 split);
}

@include breakpoint($ratio-change) {
  .main {
    @include span(9 split);
  }

  .sidebar {
    @include span(3 at 9 split);
  }
}

//Second-------------------------------------------
.button-wrapper {
  @include with-layout(5 0) {
    border-bottom: 1px solid $white;

    .button1 {
      @include span(1 of 5);
      //border-bottom: 1px solid $white;
      border-right: 1px solid $white;
      border-top: 1px solid $white;
    }

    .button2,
    .button3,
    .button4 {
      @include span(1 of 5);
      //border-bottom: 1px solid $white;
      border-right: 1px solid $white;
      border-top: 1px solid $white;
    }

    .button5 {
      @include span(1 of 5);
      border-bottom: 1px solid $white;
      border-top: 1px solid $white;
    }
  }
}

.button {
  @include transition-property(background-color);
  @include transition-duration(300ms);
  background-color: $black;
}

.button:hover {
  background-color: $grey;
  cursor: pointer;
}

.button-txt {
  color: $white;
  font-family: $font-family;
  font-size: $button-txt-size;
  padding: 5%;
}

.button-active {
  background-color: $tab-active-color;
  pointer-events: none;
}

.slide-wrapper {
  clear: both;
  overflow: hidden;
  position: relative;
}

.bg-img {
  visibility: hidden;
  width: 100%;
}

.slide {
  position: absolute;
  top: -100%;
  z-index: 1;
}

.active {
  top: 0;
  z-index: 2;
}

.txt {
  display: none;
  margin-top: 20px;
}

.txt-active {
  display: block;
}

//Gallery------------------------------------------

.gallery img {
  @include gallery(1 of 2);
  @include breakpoint($double-column) {
    @include gallery(1 of 4);
  }
}

//Footer-------------------------------------------
.footer {
  @include span(12);
  background-color: $black;
  height: 50px;
  margin-top: 10px;

  p {
    color: $white;
    font-family: $font-family;
    font-size: 20px;
    margin-left: 15px;
    margin-top: 13px;
  }
}
